{#
/**
 * @file
 * tapestry block--blockthme--xx.tpl.php
 * to use this file you need Block Theme Module http://drupal.org/project/blocktheme
 * for Default theme implementation to display a block see modules/block/block.tpl.php.
 */#}
<div id="block-{# PHP: print $block->module .'-'. $block->delta; #}" class="{{ classes }} blk-outline blk-outline4"{{ attributes }}>
  {{ title_prefix }}

{% if block  %}
  <h2 {{ title_attributes }}>{{ block }}</h2>
{% endif %}
  {{ title_suffix }}
  <div {{ content_attributes }}>{{ content }}</div>
</div>
